In [1]:
# read data by using csv library
# import csv library 
import csv

# open file 
open_file = open("Data.csv")
open_file

In [2]:
# read file by using csv reader method
read_file = csv.reader(open_file)
read_file

In [3]:
# Display Data in list form
data = list(read_file)
data

[['roll no', 'Name', 'Chemistry', 'Physics', 'Math'],
 ['101', 'Aliza', '50', '23', '87'],
 ['102', 'Fareed', '45', '24', '88'],
 ['103', 'Basit', '46', '25', '89'],
 ['104', 'Abdullah', '47', '26', '90'],
 ['105', 'Ali', '48', '27', '67'],
 ['106', 'Mubashir', '49', '28', '68'],
 ['107', 'Waleed', '50', '29', '69'],
 ['108', 'Mansoor', '51', '30', '70'],
 ['109', 'Zain', '52', '31', '71'],
 ['110', 'Mohsin', '53', '67', '72'],
 ['111', 'Shahmeer', '54', '68', '73'],
 ['112', 'Rao', '55', '69', '74'],
 ['113', 'Aurangzeb', '56', '70', '75'],
 ['114', 'Zeeshan', '57', '71', '76'],
 ['115', 'Humza', '58', '72', '77'],
 ['116', 'Hamza', '59', '73', '78'],
 ['117', 'Khalid', '60', '74', '79'],
 ['118', 'Behroz', '61', '75', '80'],
 ['119', 'Justin', '62', '76', '81'],
 ['120', 'Danial', '63', '77', '82']]

In [4]:
# import pandas library which is used to read the data in tabular form
import pandas as pd

In [5]:
# read data by using pandas
dataset = pd.read_csv("data.csv")
dataset

    roll no       Name  Chemistry  Physics  Math
0       101      Aliza         50       23    87
1       102     Fareed         45       24    88
2       103      Basit         46       25    89
3       104   Abdullah         47       26    90
4       105        Ali         48       27    67
5       106   Mubashir         49       28    68
6       107     Waleed         50       29    69
7       108    Mansoor         51       30    70
8       109       Zain         52       31    71
9       110     Mohsin         53       67    72
10      111   Shahmeer         54       68    73
11      112        Rao         55       69    74
12      113  Aurangzeb         56       70    75
13      114    Zeeshan         57       71    76
14      115      Humza         58       72    77
15      116      Hamza         59       73    78
16      117     Khalid         60       74    79
17      118     Behroz         61       75    80
18      119     Justin         62       76    81
19      120     Danial         63       77    82

In [6]:
# Check Data Shape
dataset.shape

(20, 5)

In [7]:
# Check info of the whole dataset
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   roll no    20 non-null     int64
 1   Name       20 non-null     object
 2   Chemistry  20 non-null     int64
 3   Physics    20 non-null     int64
 4   Math       20 non-null     int64
dtypes: int64(4), object(1)
memory usage: 928.0+ bytes

## Calculate avg marks by using regular python

In [8]:
len(data[1:])

20

In [9]:
student_data = data[1:]
student_data

[['101', 'Aliza', '50', '23', '87'],
 ['102', 'Fareed', '45', '24', '88'],
 ['103', 'Basit', '46', '25', '89'],
 ['104', 'Abdullah', '47', '26', '90'],
 ['105', 'Ali', '48', '27', '67'],
 ['106', 'Mubashir', '49', '28', '68'],
 ['107', 'Waleed', '50', '29', '69'],
 ['108', 'Mansoor', '51', '30', '70'],
 ['109', 'Zain', '52', '31', '71'],
 ['110', 'Mohsin', '53', '67', '72'],
 ['111', 'Shahmeer', '54', '68', '73'],
 ['112', 'Rao', '55', '69', '74'],
 ['113', 'Aurangzeb', '56', '70', '75'],
 ['114', 'Zeeshan', '57', '71', '76'],
 ['115', 'Humza', '58', '72', '77'],
 ['116', 'Hamza', '59', '73', '78'],
 ['117', 'Khalid', '60', '74', '79'],
 ['118', 'Behroz', '61', '75', '80'],
 ['119', 'Justin', '62', '76', '81'],
 ['120', 'Danial', '63', '77', '82']]

In [10]:
student_data[3]

['104', 'Abdullah', '47', '26', '90']

In [11]:
student_data[3][2]

'47'

In [12]:
Chem_marks = []
for chem in student_data:
    Chem_marks.append(float(chem[2]))

In [13]:
Chem_marks

[50.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0,
 51.0,
 52.0,
 53.0,
 54.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 62.0,
 63.0]

In [14]:
# Calculate of total chem marks
sum(Chem_marks)

1076.0

In [15]:
# Check lenght of chem marks
len(Chem_marks)

20

In [16]:
# Average Chemistrt marks of the total student
Avg_chem_marks =  sum(Chem_marks)/len(Chem_marks)
Avg_chem_marks

53.8

In [17]:
phy_marks = []
for phy in student_data:
    phy_marks.append(float(phy[3]))

In [18]:
phy_marks

[23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0]

In [19]:
Avg_phy_marks = sum(phy_marks)/len(phy_marks)
Avg_phy_marks

51.75

In [20]:
math_marks = []
for math in student_data:
    math_marks.append(float(math[4]))

In [21]:
math_marks

[87.0,
 88.0,
 89.0,
 90.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0]

In [22]:
Avg_math_marks = sum(math_marks)/len(math_marks)
Avg_math_marks

77.3

## Check Avg by using pandas

In [23]:
dataset

    roll no       Name  Chemistry  Physics  Math
0       101      Aliza         50       23    87
1       102     Fareed         45       24    88
2       103      Basit         46       25    89
3       104   Abdullah         47       26    90
4       105        Ali         48       27    67
5       106   Mubashir         49       28    68
6       107     Waleed         50       29    69
7       108    Mansoor         51       30    70
8       109       Zain         52       31    71
9       110     Mohsin         53       67    72
10      111   Shahmeer         54       68    73
11      112        Rao         55       69    74
12      113  Aurangzeb         56       70    75
13      114    Zeeshan         57       71    76
14      115      Humza         58       72    77
15      116      Hamza         59       73    78
16      117     Khalid         60       74    79
17      118     Behroz         61       75    80
18      119     Justin         62       76    81
19      120     Danial         63       77    82

In [24]:
# calculate sum and convert into float 
chemistry_marks = dataset["Chemistry"].sum().astype(float)

In [25]:
chemistry_marks

1076.0

In [26]:
# Check lenght by using pd
chem_len = len(dataset["Chemistry"])
chem_len

20

In [27]:
# calculate avg chm marks
avg_chem_marks = chemistry_marks/chem_len
avg_chem_marks

53.8

In [28]:
physics_marks = dataset["Physics"].sum().astype(float)
physics_marks

1035.0

In [29]:
Avg_phy_marks =  physics_marks/len(dataset["Physics"])
Avg_phy_marks

51.75

In [30]:
Avg_math_marks = dataset["Math"].sum().astype(float)/len(dataset["Math"])
Avg_math_marks

77.3

In [31]:
student_data

[['101', 'Aliza', '50', '23', '87'],
 ['102', 'Fareed', '45', '24', '88'],
 ['103', 'Basit', '46', '25', '89'],
 ['104', 'Abdullah', '47', '26', '90'],
 ['105', 'Ali', '48', '27', '67'],
 ['106', 'Mubashir', '49', '28', '68'],
 ['107', 'Waleed', '50', '29', '69'],
 ['108', 'Mansoor', '51', '30', '70'],
 ['109', 'Zain', '52', '31', '71'],
 ['110', 'Mohsin', '53', '67', '72'],
 ['111', 'Shahmeer', '54', '68', '73'],
 ['112', 'Rao', '55', '69', '74'],
 ['113', 'Aurangzeb', '56', '70', '75'],
 ['114', 'Zeeshan', '57', '71', '76'],
 ['115', 'Humza', '58', '72', '77'],
 ['116', 'Hamza', '59', '73', '78'],
 ['117', 'Khalid', '60', '74', '79'],
 ['118', 'Behroz', '61', '75', '80'],
 ['119', 'Justin', '62', '76', '81'],
 ['120', 'Danial', '63', '77', '82']]

### Calculate percentage of each student and append new col

In [32]:
for per in student_data:
    chem = int(per[2])
    phy = int(per[3])
    math = int(per[4])
    percentage = round((chem+phy+math)/300*100,2)
    per.append(percentage)

In [33]:
student_data

[['101', 'Aliza', '50', '23', '87', 53.33],
 ['102', 'Fareed', '45', '24', '88', 52.33],
 ['103', 'Basit', '46', '25', '89', 53.33],
 ['104', 'Abdullah', '47', '26', '90', 54.33],
 ['105', 'Ali', '48', '27', '67', 47.33],
 ['106', 'Mubashir', '49', '28', '68', 48.33],
 ['107', 'Waleed', '50', '29', '69', 49.33],
 ['108', 'Mansoor', '51', '30', '70', 50.33],
 ['109', 'Zain', '52', '31', '71', 51.33],
 ['110', 'Mohsin', '53', '67', '72', 64.0],
 ['111', 'Shahmeer', '54', '68', '73', 65.0],
 ['112', 'Rao', '55', '69', '74', 66.0],
 ['113', 'Aurangzeb', '56', '70', '75', 67.0],
 ['114', 'Zeeshan', '57', '71', '76', 68.0],
 ['115', 'Humza', '58', '72', '77', 69.0],
 ['116', 'Hamza', '59', '73', '78', 70.0],
 ['117', 'Khalid', '60', '74', '79', 71.0],
 ['118', 'Behroz', '61', '75', '80', 72.0],
 ['119', 'Justin', '62', '76', '81', 73.0],
 ['120', 'Danial', '63', '77', '82', 74.0]]

In [34]:
data[0].append("Percentage")

In [35]:
data

[['roll no', 'Name', 'Chemistry', 'Physics', 'Math', 'Percentage'],
 ['101', 'Aliza', '50', '23', '87', 53.33],
 ['102', 'Fareed', '45', '24', '88', 52.33],
 ['103', 'Basit', '46', '25', '89', 53.33],
 ['104', 'Abdullah', '47', '26', '90', 54.33],
 ['105', 'Ali', '48', '27', '67', 47.33],
 ['106', 'Mubashir', '49', '28', '68', 48.33],
 ['107', 'Waleed', '50', '29', '69', 49.33],
 ['108', 'Mansoor', '51', '30', '70', 50.33],
 ['109', 'Zain', '52', '31', '71', 51.33],
 ['110', 'Mohsin', '53', '67', '72', 64.0],
 ['111', 'Shahmeer', '54', '68', '73', 65.0],
 ['112', 'Rao', '55', '69', '74', 66.0],
 ['113', 'Aurangzeb', '56', '70', '75', 67.0],
 ['114', 'Zeeshan', '57', '71', '76', 68.0],
 ['115', 'Humza', '58', '72', '77', 69.0],
 ['116', 'Hamza', '59', '73', '78', 70.0],
 ['117', 'Khalid', '60', '74', '79', 71.0],
 ['118', 'Behroz', '61', '75', '80', 72.0],
 ['119', 'Justin', '62', '76', '81', 73.0],
 ['120', 'Danial', '63', '77', '82', 74.0]]

In [36]:
# Data Convert into dataFrame
df = pd.DataFrame(data[1:], columns=data[0])
df

   roll no       Name Chemistry Physics Math  Percentage
0      101      Aliza        50      23   87       53.33
1      102     Fareed        45      24   88       52.33
2      103      Basit        46      25   89       53.33
3      104   Abdullah        47      26   90       54.33
4      105        Ali        48      27   67       47.33
5      106   Mubashir        49      28   68       48.33
6      107     Waleed        50      29   69       49.33
7      108    Mansoor        51      30   70       50.33
8      109       Zain        52      31   71       51.33
9      110     Mohsin        53      67   72       64.00
10     111   Shahmeer        54      68   73       65.00
11     112        Rao        55      69   74       66.00
12     113  Aurangzeb        56      70   75       67.00
13     114    Zeeshan        57      71   76       68.00
14     115      Humza        58      72   77       69.00
15     116      Hamza        59      73   78       70.00
16     117     Khalid        60      74   79       71.00
17     118     Behroz        61      75   80       72.00
18     119     Justin        62      76   81       73.00
19     120     Danial        63      77   82       74.00

In [37]:
# check which student achieved the highest percentage

highest_percentage_student = df.loc[df['Percentage'].idxmax()]
print(highest_percentage_student[['Name', 'Percentage']])

Name          Danial
Percentage      74.0
Name: 19, dtype: object

In [38]:
# check which student get lowest percentage

lowest_percentage_student = df.loc[df['Percentage'].idxmin()]
print(lowest_percentage_student[['Name', 'Percentage']])

Name            Ali
Percentage    47.33
Name: 4, dtype: object